<!doctype html>
    <html>
    <head>
<title>Meadowlark Travel</title> </head>
<body>
<h1>Welcome to Meadowlark Travel</h1>
<h1>About Meadowlark Travel</h1>
<h1>404 - Not Found</h1>
<h1>500 - Server Error</h1>
    </body>
    </html>